
.container {
    text-align: center;
     display: grid;
     grid-template-columns: 25% 25% 25% 25%;

 }

.container > div {
    border: 1px solid black;
    padding: 20px 10px;
    font-size: 3rem;
    background-color: #2F2504;
} 

.screen {
    border : 5px solid black;
    padding: 60px;
    background-color: #594E36;
    text-align: right;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 30rem;
}

.container > div:hover{
    background-color: #7E846B;
}


h1 {
    text-align: center;
    color: #2F2504;
    font-size: 3rem;
    text-decoration: underline wavy red;
    margin-top: 5px;
}

body {
    background-color: #A5AE9E;
}